extends layouts/layout

block content
  h1 Good
  //nav.group_nav
  //  h5.selector_label Факультет:
  //  select(id='faculty_selector').selector_field
  //    for faculty in facultys_list
  //      option(value = faculty.id) #{faculty.name}
  //      // - groups = faculty.groups
  //    else
  //      option Факультетов в базе не обнаружено
  //
  //  //select(name='group_selector').selector_field
  //  //  for group in groups
  //  //    option(value = group.id) #{group.name}
  //  //  else
  //  //    option На данном факультете нет групп
  //+radio("My Radio Button")
  //
  //include students_list