extends ../../node_modules/pug-bootstrap/_bootstrap

include ../mixins/navbars/left_main_nemu

append head
    link(rel='stylesheet', href='/stylesheets/style.css')

block body
    .main_layout
        .col-1
          +left_main_menu(current_link_number)
        .col-2
          block content